<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index_admin::areas(~{::.container-fluid})}">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
    <main>
        <div class="container-fluid">
            <!--  Row 1 -->
            <div class="row">
                <div class="col-lg-8 d-flex align-items-strech">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                <div class="mb-3 mb-sm-0">
                                    <h5 class="card-title fw-semibold">Tổng quan về doanh thu</h5>
                                </div>
                                <div>
                                    <select class="form-select select-year">
                                        
                                    </select>
                                </div>
                            </div>
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Yearly Breakup -->
                            <div class="card overflow-hidden">
                                <div class="card-body p-4">
                                    <h5 class="card-title mb-9 fw-semibold">Thống kê cuối năm</h5>
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <!-- <h4 class="fw-semibold mb-3" th:utext="${totalYear}"></h4> -->
                                            <h4 class="fw-semibold mb-3" th:text="${#numbers.formatDecimal(totalYear, 0, 'COMMA', 0, 'POINT')}">

                                            </h4>
                                            <!-- <div class="d-flex align-items-center mb-3">
                                                <span class="me-1 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
													<i class="fa-solid fa-arrow-trend-up"
													style="color: #E57C23;"></i>
												</span>
                                                <p class="text-dark me-1 fs-3 mb-0">+19%</p>
                                                <p class="fs-3 mb-0">Năm ngoái</p>
                                            </div> -->
                                            <div class="d-flex align-items-center">
                                                <div class="me-4">
                                                    <i class="fa-solid fa-arrow-turn-down"></i>
                                                    <span class="fs-2">Giảm</span>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-arrow-turn-up"></i>
                                                    <span class="fs-2">Tăng</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="d-flex justify-content-center">
                                                <div id="breakup"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <!-- Monthly Earnings -->
                            <div class="card">
                                <div class="card-body">
                                    <div class="row alig n-items-start">
                                        <div class="col-8">
                                            <h5 class="card-title mb-9 fw-semibold">Thống kê cuối tháng
                                            </h5>
                                            <h4 class="fw-semibold mb-3" th:text="${#numbers.formatDecimal(listCPMonth[0][2], 3, 'COMMA', 0, 'POINT')}"></h4>
                                            <!-- <div class="d-flex align-items-center pb-1">
                                                <span class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
													<i class="fa-solid fa-arrow-trend-down"
													style="color: #E57C23;"></i>
												</span>
                                                <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                                                <p class="fs-3 mb-0">Tháng trước</p>
                                            </div> -->
                                        </div>
                                        <div class="col-4">
                                            <div class="d-flex justify-content-end">
                                                <div class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
                                                    <i class="fa-solid fa-dong-sign fs-6" style="color: #ffffff;"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="earning"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card w-100" style="height: 100%;">
                        <div class="card-body p-4">
                            <div class="mb-4">
                                <h5 class="card-title fw-semibold">Giao dịch gần đây</h5>
                            </div>
                            <ul class="timeline-widget mb-0 position-relative mb-n5">
                                <li class="timeline-item d-flex position-relative overflow-hidden h-auto" th:each="d : ${details}">
                                    <div class="timeline-time text-dark flex-shrink-0 text-end">
                                        <span th:utext="${#strings.substring(d.timer, 0, #strings.length(d.timer) - 6)}"></span>
                                        <span th:utext="${#strings.substring(d.timer, #strings.length(d.timer) - 2)}"></span>
                                    </div>
                                    <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                                        <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
                                        <span class="timeline-badge-border d-block flex-shrink-0"></span>
                                    </div>
                                    <div class="timeline-desc fs-3 text-dark mt-n1">
                                        <span th:utext="${d.fullname_get}"></span>
                                        <span th:utext="${d.transactions_type ? 'nạp tiền với giá trị':'mua gói bài viết với giá'}"></span>
                                        <span th:utext="${#strings.replace(d.price, '.0', '')}"></span>/vnđ
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="card w-100" style="height: 100%;">
                        <div class="card-body p-4">
                            <h5 class="card-title fw-semibold mb-4">Giao dịch gần đây</h5>
                            <div class="table-responsive">
                                <table class="table text-nowrap mb-0 align-middle">
                                    <thead class="text-dark fs-4">
                                        <tr>
                                            <th class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0">STT</h6>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0">Loại giao dịch</h6>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0">Người dùng</h6>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0">Giá trị</h6>
                                            </th>
                                            <th class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0">Thời gian</h6>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="d,state : ${detailPost}">
                                            <td class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0" th:utext="${state.index + 1}">
                                                </h6>
                                            </td>
                                            <td class="border-bottom-0">
                                                <h6 class="fw-semibold mb-1">Đăng Bài</h6>
                                                <span class="fw-normal"></span>
                                            </td>
                                            <td class="border-bottom-0">
                                                <p class="mb-0 fw-normal" th:utext="${d.fullname_get}"></p>
                                            </td>
                                            <td class="border-bottom-0">
                                                <div class="d-flex align-items-center gap-2">
                                                    <span class="badge bg-primary rounded-3 fw-semibold" th:utext="${#strings.replace(d.price, '.0', '')}">
														</span>vnđ
                                                </div>
                                            </td>
                                            <td class="border-bottom-0">
                                                <h6 class="fw-semibold mb-0 fs-4" th:utext="${d.transactions_id.create_at}"></h6>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>