<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index_admin::areas(~{::.container-fluid})}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <main>
        <div class="container-fluid">
            <style>
                .item3 {
                    font-size: 12px;
                    font-style: italic;
                    display: flex;
                    justify-content: flex-end;
                    margin-left: 5px;
                    color: red;
                }
            </style>
            <div class="tabs">
                <div class="tab-2">
                    <label for="tab2-1">Cập nhật thông tin</label> <input id="tab2-1" name="tabs-two" type="checkbox" checked>
                    <div>
                        <h4 class="text-title text-center mb-3">Thông tin cá nhân</h4>
                        <form action="/admin/profile-edit" th:object="${u}" method="post" class="form" id="adminprofile">
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Họ và tên" name="fullname" th:value="*{fullname}" required id="fullname">
                                    <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Tên đăng nhập" name="username" th:value="*{username}" readonly="readonly">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col" hidden>
                                    <input type="password" class="form-control" placeholder="Mật khẩu" name="passwords" th:value="*{passwords}">
                                </div>
                                <input type="text" th:value="${u.fail_login}" name="fail_login" hidden>
                                <input type="text" th:value="${u.create_block}" name="create_block" hidden>
                                <input type="text" th:value="${u.avatar}" name="avatar" hidden>
                                <input type="text" th:value="${u.active}" name="active" hidden>
                                <div class="col">
                                    <input type="date" th:value="${u.birthday}" name="birthday" class="form-control" required>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Email" name="email" th:value="*{email}" required id="email">
                                    <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Số điện thoại" name="phone" th:value="*{phone}" required id="phone">
                                    <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Địa chỉ" name="addresss" th:value="*{addresss}" required id="address">
                                    <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="col" style="margin-left: 15px;">
                                    <div class="radio-button-container">
                                        <div class="radio-button">
                                            <input type="radio" class="radio-button__input" id="radio1" name="gender" th:value="true" th:checked="*{gender}">
                                            <label class="radio-button__label" for="radio1"> <span
												class="radio-button__custom"></span> Nam
											</label>
                                        </div>
                                        <div class="radio-button">
                                            <input type="radio" class="radio-button__input" id="radio2" name="gender" th:value="false" th:checked="*{gender ? false: true}"> <label class="radio-button__label" for="radio2"> <span
												class="radio-button__custom"></span> Nữ
											</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row mb-3">
                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-2">
                    <label for="tab2-2">Đổi mật khẩu</label> <input id="tab2-2" name="tabs-two" type="checkbox" checked>
                    <div>
                        <h4 class="text-title text-center mb-3">Đổi mật khẩu</h4>
                        <form action="/admin/ChangePass" method="post" class="form" onsubmit="return validateFormSignUp()" id="ChangePass">
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="password" name="passmoi" id="password" class="form-control" placeholder="Mật khẩu mới" aria-label="First name">
                                    <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                </div>
                                <div class="col">
                                    <input type="password" name="nhaplaipassmoi" id="repassword" class="form-control" placeholder="Xác nhận mật khẩu mới" aria-label="Last name">
                                    <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <button type="submit" class="btn btn-primary">Đổi mật
									khẩu</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Main Content End -->
                <!-- toast -->
                <div th:if="${visible == 'true'}" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                    <div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <i class="fa-solid fa-bell" style="margin-right: 10px;"></i>
                            <strong class="me-auto" th:utext="${title}"></strong>

                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" th:utext="${notification}">
                        </div>
                    </div>
                </div>
                <!-- toast -->
            </div>
            <script type="text/javascript">
                Validator({
                    form: '#ChangePass',
                    errorSelector: '.form-message',
                    rules: [
                        Validator.isRequired('#password', 'Vui lòng nhập mật khẩu'),
                        Validator.isRequired('#repassword', 'Vui lòng xác nhận mật khẩu'),
                        Validator.isConfirmed('#repassword', function() {
                            return document.querySelector('#ChangePass #password').value;
                        }, 'Nhập lại mật khẩu không khớp'),
                        Validator.chckPass('#password', 'Tổi thiểu 6 ký tự số chữ thường, hoa ký tự đặc biệt'),
                    ]
                });
                Validator({
                    form: '#adminprofile',
                    errorSelector: '.form-message',
                    rules: [
                        Validator.isRequired('#fullname', 'Vui lòng nhập họ tên'),
                        Validator.isRequired('#phone', 'Vui lòng nhập số điện thoại'),
                        Validator.isRequired('#address', 'Vui lòng nhập địa chỉ'),
                        Validator.isPhone('#phone'),
                        Validator.isRequired('#email', 'Vui lòng nhập email'),
                        Validator.isEmail('#email'),
                    ]
                });
            </script>
        </div>

    </main>
</body>

</html>