<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index_admin::areas(~{::.container-fluid})}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <main>
        <div class="container-fluid">

            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="mb-3">Quản lý gói dịch vụ</h5>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fa-solid fa-plus"></i> Thêm gói dịch vụ
                                </button>
                            </div>

                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <span class="custom-checkbox">
                                        <input type="checkbox" id="selectAll">
                                        <label for="selectAll"></label>
                                    </span>
                                </th>
                                <th>Mã gói</th>
                                <th>Tên gói</th>
                                <th>Giá</th>
                                <th>Ưu đãi</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="s : ${service}">
                                <td>
                                    <span class="custom-checkbox">
                                        <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                        <label for="checkbox1"></label>
                                    </span>
                                </td>
                                <td th:utext="${s.services_id}"></td>
                                <td th:utext="${s.services_name}"></td>
                                <td th:text="${s.services_price * 1000}"></td>
                                <td th:utext="${s.services_location}"></td>
                                <td>
                                    <a href="#editEmployeeModal" class="edit" data-bs-toggle="modal" th:attr="data-bs-target='#exampleModalUpdate-' + ${s.services_id}">
                                        <i class="fa-regular fa-pen-to-square fa-xl" title="Cập nhật thông tin" style="color: #E57C23;"></i>
                                    </a>
                                    <!-- <a th:href="@{/admin/delete-service-pack/{id}(id=${s.services_id})}" class="delete">
                                        <i class="fa-solid fa-delete-left fa-xl" title="Xóa gói dịch vụ" style="color: #E57C23;"></i>
                                    </a> -->
                                    <div class="modal fade" th:id="'exampleModalUpdate-' + ${s.services_id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form action="/admin/update-service-pack" method="post" id="serviceForm">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Cập nhật gói dịch vụ</h4>
                                                    </div>
                                                    <div class="modal-body mb-3">
                                                        <div class="form-group" hidden>
                                                            <label>Mã</label>
                                                            <input type="text" class="form-control" name="services_id" th:value="${s.services_id}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Tên gói dịch vụ</label>
                                                            <input type="text" class="form-control" name="services_name" id="servicesName" th:value="${s.services_name}" required>
                                                            <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Giá</label>
                                                            <input type="text" class="form-control" name="services_price" id="servicesPrice" th:value="${s.services_price}" required>
                                                            <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Ưu đãi</label>
                                                            <textarea class="form-control" name="services_location" id="servicesLocation" th:utext="${s.services_location}" required></textarea>
                                                            <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Hủy">
                                                        <input type="submit" class="btn btn-success" value="Cập nhật">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="/admin/add-service-pack" method="post" id="addServiceForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Thêm gói dịch vụ</h4>
                                    </div>
                                    <div class="modal-body mb-3">
                                        <div class="form-group">
                                            <label>Tên gói dịch vụ</label>
                                            <input type="text" class="form-control" name="services_name" id="servicesName" required>
                                            <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Giá</label>
                                            <input type="text" class="form-control" name="services_price" id="servicesPrice" required>
                                            <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Ưu đãi</label>
                                            <textarea class="form-control" name="services_location" id="servicesLocation" required></textarea>
                                            <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Hủy">
                                        <input type="submit" class="btn btn-success" value="Thêm mới">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- toast -->
                    <div th:if="${visible == 'true'}" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                        <div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <i class="fa-solid fa-bell" style="margin-right: 10px;"></i>
                                <strong class="me-auto" th:utext="${title}"></strong>

                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body" th:utext="${notification}">
                            </div>
                        </div>
                    </div>
                    <!-- toast -->
                    <div class="row mt-3">
                        <div class="col-xl-9">Hiển thị <b>4</b> / <b th:utext="${totalNumber}"></b> gói</div>
                        <div class="col-xl-3">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" th:class="${service.number == 0 ? 'disabled' : ''}">
                                        <a class="page-link" th:href="@{${'/admin/service-pack'}(page=${service.number - 1})}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li th:each="pageNumber : ${#numbers.sequence(1, service.totalPages)}" class="page-item" th:class="${pageNumber == service.number + 1 ? 'active' : ''}">
                                        <a class="page-link" th:href="@{${'/admin/service-pack'}(page=${pageNumber})}" th:text="${pageNumber}"></a>
                                    </li>
                                    <li class="page-item" th:class="${service.number + 1 == service.totalPages ? 'disabled' : ''}">
                                        <a class="page-link" th:href="@{${'/admin/service-pack'}(page=${service.number + 1})}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
            <script src="/js/validator.js"></script>
            <script type="text/javascript">
                Validator({
                    form: '#serviceForm',
                    errorSelector: '.form-message',
                    rules: [
                        Validator.isRequired('#servicesName', 'Vui lòng nhập tên gói'),
                        Validator.isRequired('#servicesPrice', 'Vui lòng nhập giá gói'),
                        Validator.isRequired('#servicesLocation', 'Vui lòng nhập dịch vụ của gói'),
                    ]
                });
                Validator({
                    form: '#addServiceForm',
                    errorSelector: '.form-message',
                    rules: [
                        Validator.isRequired('#servicesName', 'Vui lòng nhập tên gói'),
                        Validator.isRequired('#servicesPrice', 'Vui lòng nhập giá gói'),
                        Validator.isRequired('#servicesLocation', 'Vui lòng nhập dịch vụ của gói'),
                    ]
                });
            </script>
        </div>
    </main>
</body>

</html>