<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index_admin::areas(~{::.container-fluid})}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <main>
        <div class="container-fluid">
            <!--  Row 1 -->
            <div class="col-lg-12 mb-3">
                <h5 class="mb-3">Danh Sách Ví</h5>
                <table class="table tbl-edit">
                    <thead>
                        <tr>
                            <th scope="col">Tên đăng nhập</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Email</th>
                            <th scope="col">Số dư tài khoản</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="w: ${pays}">
                            <td th:utext="${w.username}"></td>
                            <td th:utext="${w.fullname}"></td>
                            <td th:utext="${w.email}"></td>
                            <td th:utext="${w.pay_id.pay_money}"></td>
                            <td><a type="button" th:href="@{/find/users/{username}(username = ${w.username})}" class="btn btn-primary"><i
									class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
									Chi tiết</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-12 mb-3">
                <form th:action="@{/admin/user-update}" id="walletForm" class="form-edit-user-list" th:object="${user}">
                    <div class="mb-3 mt-2 mr-2 d-flex justify-content-end">
                        <div class="input-wrapper">
                            <button class="icon" type="button">
								<!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="25px" width="25px">
                                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z"></path>
                                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M22 22L20 20"></path>
                                  </svg> -->
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
                            <input placeholder="Nhập tên đăng nhập..." class="input" name="text" type="text">
                        </div>
                    </div>
                    <div class="mb-3">
                        <h5>Thông tin ví</h5>
                        <hr>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="form-control-div">
                                <input required="" th:value="*{username}" type="text" name="username" readonly> <label> <span
									style="transition-delay: 350ms">T</span> <span
									style="transition-delay: 300ms">ê</span> <span
									style="transition-delay: 250ms">n</span> <span
									style="transition-delay: 250ms"></span> <span
									style="transition-delay: 200ms">đ</span> <span
									style="transition-delay: 150ms">ă</span> <span
									style="transition-delay: 100ms">n</span> <span
									style="transition-delay: 50ms">g</span> <span
									style="transition-delay: 250ms"></span> <span
									style="transition-delay: 0ms">n</span> <span
									style="transition-delay: 0ms">h</span> <span
									style="transition-delay: 0ms">ậ</span> <span
									style="transition-delay: 0ms">p</span>
								</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-control-div">
                                <input required="" th:value="${user.pay_id.pay_money}" type="number" min="0" name="pay" id="money" onchange="validateMoney()">
                                <label> 
                                    <span
									style="transition-delay: 350ms">S</span> <span
									style="transition-delay: 300ms">ố</span> <span
									style="transition-delay: 250ms"></span> <span
									style="transition-delay: 250ms">d</span> <span
									style="transition-delay: 200ms">ư</span>
								</label>
                                <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <button class="button col-lg-2 mb-3" type="submit" style="width: 170px;">
							<i class="fa-solid fa-pen"
								style="color: #ffffff; margin-right: 10px;"></i> Sửa
						</button>
                        <a class="button col-lg-3 mb-3" type="button" style="width: 170px;" th:href="@{/admin/wallet-new}">
                            <svg viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path
									d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                                    <path
									d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
									fill-rule="evenodd"></path>
                                </svg> Làm mới
                        </a>

                    </div>
                </form>
            </div>
            <!-- toast -->
            <div th:if="${visible == 'true'}" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <i class="fa-solid fa-bell" style="margin-right: 10px;"></i>
                        <strong class="me-auto" th:utext="${title}"></strong>

                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" th:utext="${notification}">
                    </div>
                </div>
            </div>
            <!-- toast -->
            <script src="/js/validator.js"></script>
            <script type="text/javascript">
                Validator({
                    form: '#walletForm',
                    errorSelector: '.form-message',
                    rules: [
                        Validator.isRequired('#money', 'Vui lòng nhập số tiền'),
                        Validator.isMoney('#money', 'Số tiền không quá 1 triệu')
                    ]
                });
            </script>
        </div>
    </main>
</body>

</html>