<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a href="#" class="text-nowrap logo-img text-color-black text-bold">
                    <!-- <img src="/img/Real_Estate.png" width="180" alt="" /> -->Real Estate Dashboard
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="fa-solid fa-xmark fa-xl" style="color: #000000;"></i>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap"><i class="ti ti-dots nav-small-cap-icon fs-4"></i> <span class="hide-menu">Trang chủ</span></li>
                    <li class="sidebar-item selected">
                        <a class="sidebar-link active" href="/admin" aria-expanded="false"> <span>
								<i class="fa-solid fa-database" style="color: #ffffff;"></i>
						</span> <span class="hide-menu">Thống kê</span>
                        </a>
                    </li>
                    <li class="nav-small-cap"><i class="ti ti-dots nav-small-cap-icon fs-4"></i> <span class="hide-menu">QUẢN LÝ</span></li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/users" aria-expanded="false"> <span> <i
								class="fa-solid fa-clipboard-user"></i>
						</span> <span class="hide-menu">TK Người Dùng</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/post" aria-expanded="false"> <span> <i
								class="fa-solid fa-clipboard"></i>
						</span> <span class="hide-menu">Bài Viết</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/service-pack" aria-expanded="false"> <span> <i
								class="fa-solid fa-star"></i>
						</span> <span class="hide-menu">Gói Bài Viết</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/type-property" aria-expanded="false"> <span> 
                            <i class="fa-solid fa-hotel"></i>
						</span> <span class="hide-menu">Loại Tài Sản</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/wallet" aria-expanded="false"> <span> <i
								class="fa-solid fa-wallet"></i>
						</span> <span class="hide-menu">Ví</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/transactions" aria-expanded="false"> <span> <i
								class="fa-solid fa-money-bill-transfer"></i>
						</span> <span class="hide-menu">Giao Dịch</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/history-delete-post" aria-expanded="false"> <span> 
                            <i class="fa-solid fa-clock-rotate-left"></i>
						</span> <span class="hide-menu">Lịch Sử Xóa Bài</span>
                        </a>
                    </li>

                </ul>
                <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
                    <div class="d-flex">
                        <div class="unlimited-access-title me-1">
                            <h6 class="fw-semibold fs-3 mb-6 text-dark w-85">Real Estate</h6>
                            <a href="/home" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm w-100">Trang chủ</a>
                        </div>
                        <div class="unlimited-access-img">
                            <img src="/img/rocket.jpg" alt="" class="img-fluid" style="width: 80px;">
                        </div>
                    </div>
                </div>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
</body>

</html>