<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index_admin::areas(~{::.container-fluid})}">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>
    <main>
        <div class="lib">
            <script src="/lib/jquery/dist/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
            <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="/js/sidebarmenu.js"></script>
            <script src="/js/app.min.js"></script>
            <script src="/lib/apexcharts/dist/apexcharts.min.js"></script>
            <script src="/lib/simplebar/dist/simplebar.js"></script>
            <script src="/js/dashboard.js"></script>
            <script src="/js/index.admin.js"></script>
            <script src="/angularJs/index.js"></script>
        </div>
    </main>
</body>

</html>