* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom left, #ffa626, #fff);
    font-family: "Lato", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.container {
    /* background-color: rgba(255, 255, 255, 0.3); */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    max-width: 1000px;
    text-align: center;
}

.container h2 {
    font-size: 2.2rem;
    color: #E57C23;
    margin-bottom: 10px;
}

.container hr {
    border: 1px solid #ffa626;
}

.code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.code {
    caret-color: transparent;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 1px solid #eee;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    width: 75px;
    height: 80px;
    margin: 10px;
    text-align: center;
    font-weight: 300;
}

@media (max-width: 600px) {
    .code-container {
        flex-wrap: wrap;
    }
    .code {
        font-size: 24px;
        height: 50px;
        max-width: 50px;
        font-size: bold;
    }
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.code:valid {
    border-color: #9861c2;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.btn {
    font-family: "Lato", sans-serif;
    min-width: 400px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    margin: 0px 0px 20px 0px;
    padding: 0.775rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.7;
}

.btn-primary {
    color: #fff;
    background-color: #ffa626;
    border-color: #ffa626;
}


/*toast*/

.toast {
    position: fixed;
    top: 500px;
    right: 5px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* transform: translateX(calc(100% + 30px)); */
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 7;
    opacity: 0 !important;
}

.toast.active {
    transform: translateX(0%);
    opacity: 1 !important;
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #27ff44;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.message .text.text-1 {
    font-weight: 600;
    color: #333;
}

.toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover {
    opacity: 1;
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #27ff44;
}

.progress.active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}


/*toast*/