/* body {
    font-family: 'Open Sans', sans-serif;
} */

#createPostForm {
    max-width: 1000px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    border-radius: 12px;
}

#createPostForm .form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
}

#createPostForm .form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
}

#createPostForm .form-header .stepIndicator.active {
    font-weight: 600;
}

#createPostForm .form-header .stepIndicator.finish {
    font-weight: 600;
    color: #ff6822;
}

#createPostForm .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #efe3d5;
    border-radius: 50%;
    border: 3px solid #f5efec;
}

#createPostForm .form-header .stepIndicator.active::before {
    background-color: #ff6822;
    border: 3px solid #efe3d5;
}

#createPostForm .form-header .stepIndicator.finish::before {
    background-color: #ff6822;
    border: 3px solid #efe3d5;
}

#createPostForm .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #efe3d5;
}

#createPostForm .form-header .stepIndicator.active::after {
    background-color: #ff682261;
}

#createPostForm .form-header .stepIndicator.finish::after {
    background-color: #FF6922;
}

#createPostForm .form-header .stepIndicator:last-child:after {
    display: none;
}

#createPostForm input {
    padding: 15px 20px;
    width: 100%;
    font-size: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

#createPostForm input:focus {
    border: 1px solid #FF6922;
    outline: 0;
}

#createPostForm input.invalid {
    border: 1px solid #ffaba5;
}

#createPostForm .step {
    display: none;
}

#createPostForm .form-footer {
    overflow: auto;
    gap: 20px;
}

#createPostForm .form-footer button {
    background-color: #FF6922;
    border: 1px solid #FF6922 !important;
    color: #ffffff;
    border: none;
    padding: 13px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin-top: 5px;
}

#createPostForm .form-footer button:hover {
    opacity: 0.8;
}

#createPostForm .form-footer #prevBtn {
    background-color: #fff;
    color: #ff6822;
}


/* Form Update Post */

#updatePost {
    max-width: 1000px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    border-radius: 12px;
}

#updatePost .form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
}

#updatePost .form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
}

#updatePost .form-header .stepIndicator.active {
    font-weight: 600;
}

#updatePost .form-header .stepIndicator.finish {
    font-weight: 600;
    color: #ff6822;
}

#updatePost .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #efe3d5;
    border-radius: 50%;
    border: 3px solid #f5efec;
}

#updatePost .form-header .stepIndicator.active::before {
    background-color: #ff6822;
    border: 3px solid #efe3d5;
}

#updatePost .form-header .stepIndicator.finish::before {
    background-color: #ff6822;
    border: 3px solid #efe3d5;
}

#updatePost .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #efe3d5;
}

#updatePost .form-header .stepIndicator.active::after {
    background-color: #ff682261;
}

#updatePost .form-header .stepIndicator.finish::after {
    background-color: #FF6922;
}

#updatePost .form-header .stepIndicator:last-child:after {
    display: none;
}

#updatePost input {
    padding: 15px 20px;
    width: 100%;
    font-size: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

#updatePost input:focus {
    border: 1px solid #FF6922;
    outline: 0;
}

#updatePost input.invalid {
    border: 1px solid #ffaba5;
}

#updatePost .step {
    display: none;
}

#updatePost .form-footer {
    overflow: auto;
    gap: 20px;
}

#updatePost .form-footer button {
    background-color: #FF6922;
    border: 1px solid #FF6922 !important;
    color: #ffffff;
    border: none;
    padding: 13px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin-top: 5px;
}

#updatePost .form-footer button:hover {
    opacity: 0.8;
}

#updatePost .form-footer #prevBtn {
    background-color: #fff;
    color: #ff6822;
}

.checkbox-wrapper-37 {
    background-color: #ff682236;
    padding: 10px;
    font-size: 13px;
    border-radius: 15px;
    color: #000;
}

.checkbox-wrapper-37 input[type="radio"] {
    display: none;
}

.checkbox-wrapper-37 .terms-label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checkbox-wrapper-37 .terms-label .label-text {
    margin-left: 10px;
}

.checkbox-wrapper-37 .checkbox-svg {
    width: 30px;
    height: 30px;
}

.checkbox-wrapper-37 .checkbox-box {
    fill: #fff;
    stroke: #ff7a00;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper-37 .checkbox-tick {
    stroke: #ff7a00;
    stroke-dasharray: 172;
    stroke-dashoffset: 172;
    transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper-37 input[type="radio"]:checked+.terms-label .checkbox-box,
.checkbox-wrapper-37 input[type="radio"]:checked+.terms-label .checkbox-tick {
    stroke-dashoffset: 0;
}


/*                                                                                  */

.toast {
    position: fixed;
    top: 500px;
    right: 5px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* transform: translateX(calc(100% + 30px)); */
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 1;
    opacity: 0 !important;
}

.toast.active {
    transform: translateX(0%);
    opacity: 1 !important;
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #27ff44;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.message .text.text-1 {
    font-weight: 600;
    color: #333;
}

.toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover {
    opacity: 1;
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #27ff44;
}

.progress.active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}