/********** Template CSS **********/

:root {
    --primary: #E57C23;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0E2E50;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/

.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/

.nav-bar {
    position: relative;
    /* margin-top: 45px; */
    padding: 0 3rem;
    transition: .5s;
    z-index: 9999;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 9999;
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    color: #E57C23;
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }
    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/

@media (min-width: 992px) {
    .header {
        margin-top: -120px;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}

@media (max-width: 768px) {
    .header-carousel .owl-nav {
        left: 25px;
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #DDDDDD;
}


/*** Icon ***/

.icon {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF !important;
    border-radius: 50px;
    border: 1px dashed var(--primary) !important;
}


/*** About ***/

.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: skew(20deg);
    z-index: 1;
}


/*** Category ***/

.cat-item div {
    background: #FFFFFF;
    border: 1px dashed rgba(255, 215, 120, 0.3);
    transition: .5s;
}

.cat-item:hover div {
    background: var(--primary);
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}

.cat-item:hover div * {
    color: #FFFFFF !important;
}


/*** Property List ***/

.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0, 185, 142, .3) !important;
}

.property-item .border-end {
    border-right: 1px dashed rgba(0, 185, 142, .3) !important;
}


/*** Team ***/

.team-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .5s;
}

.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Testimonial ***/

.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 185, 142, .3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}


/*** Footer ***/

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/* Slide auto */


/* slide auto */

.slider_auto {
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

.slider_auto::before {
    position: absolute;
    z-index: 1;
    left: 0;
    content: '';
    width: 24%;
    height: 110px;
    background: linear-gradient(-90deg, hsla(0, 0%, 96, 9%, 0), #f7f7f7);
}

.slider_auto::after {
    position: absolute;
    right: 0;
    content: '';
    width: 24%;
    height: 110px;
    background: linear-gradient(-90deg, hsla(0, 0%, 96, 9%, 0), hsla(0, 0%, 96, 9%, 0, 99) 99%);
}

.slider_auto .slide-track {
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(240px * 10);
}

.slider_auto .slide {
    display: flex;
}

.slider_auto .slide .img {
    background-image: url(https://file4.batdongsan.com.vn/2023/03/14/20230314082745-8c81_wm.jpg);
    width: 240px;
    height: 150px;
    background-size: cover;
    background-color: white;
    cursor: pointer;
    margin: 20px;
    border-radius: 8px;
    transition: all 0.5s;
}

.slider_auto .slide .img:nth-child(2) {
    background-image: url(https://file4.batdongsan.com.vn/2020/09/28/PGsxuI1y/20200928152939-aa13.jpg);
}

.slider_auto .slide .img:nth-child(3) {
    background-image: url(https://file4.batdongsan.com.vn/2022/06/27/20220627161209-e035.jpg);
}

.slider_auto .slide .img:nth-child(4) {
    background-image: url(https://file4.batdongsan.com.vn/2023/03/09/20230309151620-a9ea_wm.jpg);
}

.slider_auto .slide .img:nth-child(5) {
    background-image: url(https://file4.batdongsan.com.vn/2022/08/18/20220818133706-50e7_wm.jpg);
}

.slider_auto .slide .img:nth-child(6) {
    background-image: url(https://file4.batdongsan.com.vn/2020/12/07/RUFz0fap/20201207135042-b1f0.jpg);
}

.slider_auto .slide .img:nth-child(7) {
    background-image: url(https://file4.batdongsan.com.vn/2021/12/28/20211228101112-7abe.jpg);
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-240px * 5));
        transform: translateX(calc(-240px * 5));
    }
}

.form-edit-change-password {
    border: 1px solid rgb(195, 195, 195);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(141, 141, 141, 0.3);
}

.utility-support {
    background-color: #5858581b;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px;
}

.utility-support-item {
    background-color: transparent;
    border-color: transparent;
    color: rgb(0, 0, 0);
    margin-left: -10px;
}

.utility-support-item a {
    color: rgb(0, 0, 0);
}

.utility-support-item a:hover {
    color: rgb(116, 116, 116);
}

.manager-likes h4 {
    margin-left: 110px;
}

.manager-likes>.row>.tatol-post {
    margin-left: 110px;
    width: 54%;
}

.card-post {
    margin-left: 110px;
    width: 87%;
    border-radius: 5px !important;
}

.card-post img {
    /* width: 30%; */
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-post .card-title-big {
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}

.card-post .card-title-big-2 {
    color: #ff2323;
}

.con-like {
    --red: rgb(255, 50, 50);
    position: relative;
    width: 25px;
    height: 25px;
}

.con-like .like {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
}

.con-like .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-like .outline,
.con-like .filled {
    fill: var(--red);
    position: absolute;
}

.con-like .filled {
    animation: kfr-filled 0.5s;
    display: none;
}

.con-like .celebrate {
    position: absolute;
    animation: kfr-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
}

.con-like .poly {
    stroke: var(--red);
    fill: var(--red);
}

.con-like .like:checked~.checkmark .filled {
    display: block
}

.con-like .like:checked~.checkmark .celebrate {
    display: block
}

@keyframes kfr-filled {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes kfr-celebrate {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 0.8;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
        display: none;
    }
}

.custom-dropdown .btn:active,
.custom-dropdown .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
}

.custom-dropdown .btn.btn-custom {
    border: 1px solid #efefef;
}

.custom-dropdown .title-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-dropdown .title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.custom-dropdown .dropdown-link {
    color: #888;
    display: inline-block;
    padding-right: 0px;
    position: relative;
}

.custom-dropdown .dropdown-link .wrap-icon {
    font-size: 30px;
}

.custom-dropdown .dropdown-link .number {
    width: 24px;
    height: 24px;
    line-height: 20px;
    border-radius: 50%;
    background: #007bff;
    position: absolute;
    font-size: 13px;
    top: -10px;
    right: -10px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}

.custom-dropdown .dropdown-menu {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    margin-top: 0px !important;
    padding-top: 0;
    padding-bottom: 0;
    padding: 10px;
    opacity: 0;
    left: 0 !important;
    -webkit-transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
    -o-transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
    transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
    visibility: hidden;
    max-width: 380px;
}

.custom-dropdown .dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    margin-top: 10px !important;
}

.custom-dropdown .custom-notifications {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #efefef;
}

.custom-dropdown .custom-notifications>li {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.custom-dropdown .custom-notifications>li:last-child {
    margin-bottom: 0;
}

.custom-dropdown .custom-notifications>li>a {
    display: block;
    padding: 20px;
    color: #bfbfbf;
}

.custom-dropdown .custom-notifications>li>a:hover {
    background: #f9f9f9;
}

.custom-dropdown .custom-notifications>li>a .img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
}

.custom-dropdown .custom-notifications>li>a .img img {
    width: 40px;
    border-radius: 50%;
}

.custom-dropdown .custom-notifications>li>a .text {
    margin-top: 0px;
}

.custom-dropdown .custom-notifications>li>a .text strong {
    font-weight: 700;
    color: #000;
}

.custom-dropdown .custom-notifications>li.unread a {
    background: #fffaef;
}

#contactForm {
    display: none;
    border: 6px solid #025464;
    padding: 2em;
    width: 400px;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
}

#contactForm-two {
    display: none;
    border: 6px solid #025464;
    padding: 2em;
    width: 400px;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
}

#editPostForm {
    display: none;
    border: 6px solid #025464;
    padding: 2em;
    width: 400px;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)
}

input,
textarea {
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;
    display: block;
    width: -webkit-fill-available;
    padding: .4em;
}

textarea {
    height: 80px;
    resize: none;
}

.formBtn {
    width: 140px;
    display: inline-block;
    background: #025464;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 50px;
}


/* modal */

.modal-confirm {
    /* margin-top: 100px; */
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
    border: none;
    background-color: transparent;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
    color: #999;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #E57C23;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}

.modal-confirm .btn-secondary {
    background: #c1c1c1;
}

.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
}

.modal-confirm .btn-danger {
    padding-top: 10px !important;
    color: #FFFFFF !important;
    background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #ee3535;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.avatar {
    width: 100px;
    height: 100px;
}


/*toast*/

.toast {
    position: fixed;
    top: 450px;
    right: 5px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* transform: translateX(calc(100% + 30px)); */
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 7;
    opacity: 0 !important;
}

.toast.active {
    transform: translateX(0%);
    opacity: 1 !important;
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #27ff44;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.message .text.text-1 {
    font-weight: 600;
    color: #333;
}

.toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover {
    opacity: 1;
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #27ff44;
}

.progress.active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}


/*toast*/