<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index_user::areas(~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Liên Hệ Chúng Tôi</h1>
                    <p>
                        Hãy liên hệ chúng tôi để được tư vấn và hỗ trợ tốt nhất. Chúng tôi luôn sẵn sàng lắng nghe và giải đáp mọi thắc mắc của bạn.
                    </p>
                </div>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="row gy-4">
                            <div class="col-md-8 col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                                <div class="bg-light rounded p-3">
                                    <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="icon me-3" style="width: 45px; height: 45px;">
                                            <i class="fa fa-map-marker-alt text-primary"></i>
                                        </div>
                                        <span>Toà nhà FPT Polytechnic, Đ. Số 22, Thường Thạnh, Cái Răng, Cần Thơ, Vietnam</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                                <div class="bg-light rounded p-3">
                                    <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="icon me-3" style="width: 45px; height: 45px;">
                                            <i class="fa fa-envelope-open text-primary"></i>
                                        </div>
                                        <span>info@fpt.edu.vn</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                                <div class="bg-light rounded p-3">
                                    <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed rgba(0, 185, 142, .3)">
                                        <div class="icon me-3" style="width: 45px; height: 45px;">
                                            <i class="fa fa-phone-alt text-primary"></i>
                                        </div>
                                        <span>+84 981 725 836</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <iframe class="position-relative rounded w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d296.30411771387577!2d105.75817673552889!3d9.981929019659514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08906415c355f%3A0x416815a99ebd841e!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1sen!2s!4v1693106655063!5m2!1sen!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <p class="mb-4">
                                Xin cảm ơn bạn đã quan tâm đến dịch vụ của chúng tôi. Để chúng tôi có thể hỗ trợ bạn tốt nhất, vui lòng nhập đầy đủ thông tin liên hệ và nội dung yêu cầu. Thông tin liên hệ bao gồm: Họ tên Số, Email, Tiêu đề, Nội dung yêu cầu. Chúng tôi sẽ phản hồi bạn
                                trong thời gian sớm nhất. Trân trọng, Công ty bất động sản Fpoly Real Estate.
                            </p>
                            <form action="/home/contact-action" method="post" id="formContact">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="fullname" id="name" placeholder="Your Name" required>
                                            <label for="name">Họ và tên</label>
                                            <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                                            <label for="email">Email của bạn</label>
                                            <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                        </div>

                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                            <label for="subject">Tiêu đề</label>
                                            <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" name="content" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                            <label for="message">Nội dung</label>
                                            <span class="form-message item3" style="color: #ff0000; margin-top: 5px;"></span>
                                        </div>

                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Gửi tin nhắn</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- toast -->

            <div class="toast active" th:if="${visible == 'true'}">
                <div class="toast-content">
                    <i class="fas fa-solid fa-check check"></i>
                    <div class="message">
                        <span class="text text-1" th:utext="${title}"></span>
                        <span class="text text-2" th:utext="${notification}"></span>
                    </div>
                </div>
                <i class="fa-solid fa-xmark close"></i>

                <div class="progress active"></div>
            </div>

            <!-- toast -->
            <script src="/js/validator.js"></script>
            <script type="text/javascript">
                Validator({
                    form: '#formContact',
                    errorSelector: '.form-message',
                    rules: [
                        Validator.isRequired('#name', 'Vui lòng nhập họ và tên'),
                        Validator.isRequired('#email', 'Vui lòng nhập email'),
                        Validator.isRequired('#subject', 'Vui lòng nhập tiêu đề'),
                        Validator.isRequired('#message', 'Vui lòng nhập nội dung'),
                    ]
                });
            </script>
        </div>
        <!-- Contact End -->
    </main>
</body>

</html>